/*
 * Globals
 */

/*
 * Base structure
 */

.cover-container {
  max-width: 42em;
}

.instructions-container {
  max-width: 60em;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: var(--bs-dark) !important;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: var(--bs-dark);
  border-bottom-color: var(--bs-dark);
}

.random-button svg {
  vertical-align: top;
  margin-top: 4px;
  margin-left: -1px;
}

/** ReadChapter **/

@media screen and (max-width: 800px) {
  .site-header {
    padding-right: 70px;
  }
}

.controlsHeader {
  top: 10px;
}

.listenControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.listenControlsStart {
  display: flex;
  align-items: center;
  gap: 5px;
}

.scripture {
  font-family: ArialMT,Helvetica Neue,Arial,Liberation Sans,FreeSans,sans-serif;
  font-size: 28px;
  line-height: 2em;
  padding: 0 10px;
  font-weight: medium;
}

.scripture .chapterlabel {
  font-weight: normal;
  font-size: 40px;
}

:root {
  --verse-color: #777;
  --words-of-jesus-color: #b95d5d;
}

.scripture .p, .scripture .q, .scripture .q2, .scripture .m, .scripture .pi, .scripture .pi2, .scripture .pi3, .scripture .pmr, .scripture .pr, .scripture .pmo, .scripture .pmc, .scripture .psi, .scripture .pc, .scripture .nb {
  color: var(--verse-color);
}

.scripture .p {
  text-indent: 1em;
}


.scripture .wj {
  color: var(--words-of-jesus-color);
}

.scripture .verse {
  user-select: none;
}

.scripture .verseFragment::after {
  content: " ";
}

.scripture .wj::after {
  content: " ";
}

.mt,.mt2,.mt3, .ms, .notemark {
  display: none;
}

.copyright {
  color: #777;
  font-size: 20px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .scripture {
    font-size: 22px;
  }

  .scripture .chapterlabel {
    font-size: 30px;
  }
}

.read-body::-webkit-scrollbar {
  display: none;
}

.user-image {
  border-radius: 50%;
}

.youtube-video {
  max-width: 100%;
}

/* spinner */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #000;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

/* recording */

.recordingControls {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.recordingControlsTop {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.leftControls {
  justify-self: start;
  gap: 10px;
  display: flex;
  align-items: center;
}

.rightControls {
  justify-self: end;
  margin-left: auto;
}

.bi-record2 {
  animation: recording 1.5s linear infinite;
}

@keyframes recording {
  0% {fill: #f00}
  50% {fill:#b00}
  100% {fill:#f00}
}

.recordingStatus {
  display: flex;
  align-items: center;
  gap: 5px;
}

.submitRecordingHeader {
  font-size: 24px;
}

.speakerSelector {
  max-width: 150px;
}

.listenActions {
  display: flex;
  gap: 5px;
  align-items: center;
}

.followButton {
  padding-left: 5px;
}